<div class="container mt-3">
  <div class="pt-3 pb-3">
    <h4 class="text-center display-5 mb-4">All Articles</h4>
    <p class="text-center mt-3"><%= link_to 'Create A New Article', new_article_path, class: "btn btn-danger" %></p>

    <% @articles.each do |article| %>
    
    <div class="card text-center shadow bg-white rounded mb-3">
      <div class="card-header font-weight-bold font-italic">
        By <%= article.user.username if article.user %>
      </div>
      <div class="card-body">
        <h5 class="card-title"><%= article.title %></h5>
        <p class="card-text"><%= article.description %></p>
        <%= link_to 'Show', article_path(article), class: "btn btn-danger" %>
        <%= link_to 'Edit', edit_article_path(article), class: "btn btn-secondary" %>
        <%= link_to 'Delete', article_path(article), class: "btn btn-secondary", method: :delete, data: { confirm: "Are you sure you want to delete this article?" } %>
      </div>
      <div class="card-footer text-muted">
        <small>
          Created <%= time_ago_in_words(article.created_at) %> ago
          -
          Updated <%= time_ago_in_words(article.updated_at) %> ago
        </small>
      </div>
    </div>
    
    <% end %>

  </div>
</div>